/* Configurações universais */

*{
    /* Todos elementos sem margem e espaçamento */
    margin: 0;
    padding: 0;
}
/* Estilo gerais */
body{
    font-family: Arial, Helvetica, sans-serif;
    /* espaçamento entre as linhas */
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
    /* cor do texto */
    color: rgb(0, 0, 0);
}

/* Estilo de cabeçalho */

header{
    background-color: rgb(211, 47, 47);
    color: aliceblue;
    text-align: center;
    padding: 30px 20px;

}

header h1{
    font-size: 2.5en;
    /* espaçamento entre letras do titulo */
    letter-spacing: 1px;
}

/*Menu de navegação*/

nav{
    background-color: hwb(0 55% 42%);
    padding: 10px;
    text-align: center;
}

nav ul li {
    /* deixa na posição horizontal*/
    display: inline;
    margin: 0 15px;
}

nav ul li a{
    color: rgb(3, 3, 3);
    /* remover sublinhado do link*/
    text-decoration: none;
    /* negritar o texto */
    font-weight: bold;
}
/* quando o usuario trouxer o mouse em cima do elemente */
nav ul li a:hover{
    transform: scale(1,2);
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

/* linhas horizontais */
hr{
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin: 20px 0;
    border: none;
}

/* conteudo principal (main) */
main{
    padding: 15px;
}

/* seções (section) */
section h2{
    font-size: 1.8em;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
/* artigos(ARTICLE) */
article{
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid;
}
article h3{
    color: rgb(0, 0, 0);

}
article p{
    color: rgb(0, 0, 0);
}

aside{
    background-color: rgb(195, 195, 196);
    padding: 15px;
    border-radius: 6px;
    border: 1px solid;
    border-left:  5px solid;
}

aside h3{

    background-color: rgb(123, 120, 126);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}